
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'poppins', sans-serif;

}
:root{
    --bg-color:#fdfdfd;
    --text-color:#333;
    --main-color:#754ef9;
    --white-color:#fdfdfd;
    --shadow-color:rgba(0,0,0,.2);


}
html{
    font-size: 62.5%;
    overflow: hidden;
}
body{
    background: var(--bg-color);
    color:var(--text-color);
}
.header{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rcm 7%;
    background:yellowgreen ;
    align-items: center;
    z-index: 100;


}